html{font-size: 100px; font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif; background: #F0F0F0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,pre,form,fieldset,input,textarea,blockquote,p,button,header,footer,nav,section,article,aside,video,audio,figure,figcaption,hgroup{padding: 0px; margin: 0px; tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -ms-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 0.14rem; line-height: 0.22rem;}
table,td,tr,th{font-size: 0.12rem;}
table{margin: 0 auto;}
img{vertical-align: top; border: 0;}
ol,ul{list-style: none;}
li{list-style-type: none;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size: 100%;}
img{width: 100%; height: auto; vertical-align: top; }
address,caption,cite,code,dfn,em,i,b{font-weight: normal; font-style: normal;}
input,textarea,select,button{outline: none; resize: none; border: 0;}
a{-webkit-appearance: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; text-decoration: none;}
a:hover {text-decoration: none;}
.wrap{margin: auto; padding-bottom: 0.52rem;}
.no-data{width: 100%; height: 100%; background: url(img/no_data.png) no-repeat center 40%; background-size: 1.6rem; position: fixed;}
[v-cloak] {display: none;}

/* nav head */
.nav-head{padding: 0 0.1rem; background: #fff; color: #aaa; box-shadow: 0 1px 3px rgba(214,214,214,0.5); display: -webkit-flex; align-items: center; -webkit-align-items: center; justify-content: space-around; -webkit-justify-content: space-around;}
.nav-head a{line-height: 0.4rem; color: #aaa;}
.nav-head a.curr{border-bottom: #F99653 2px solid; color: #F99653;}

/* nav foot */
.nav-foot{width: 100%; background: #fff; color: #aaa; box-shadow: 0 1px 3px rgba(214,214,214,0.5); display: -webkit-flex; align-items: center; -webkit-align-items: center; justify-content: space-around; -webkit-justify-content: space-around; position: fixed; left: 0; bottom: 0;}
.nav-foot a{line-height: 0.52rem; color: #aaa; font-size: 0.18rem;}
.nav-foot a.curr{color: #F99653;}

/* index */
.answer-wrap{padding-top: 0.05rem;}
.answer-item{margin: 0.04rem; padding: 0 0 0.2rem; background: #fff; border-radius: 2px; box-shadow: 0 1px 3px rgba(214,214,214,0.5);}
.answer-item .title{padding: 0.2rem 0.2rem 0.23rem 0.16rem; font-size: 0.15rem; line-height: 0.2rem; font-weight: 700; color: #4A4A4A;}
.answer-item .nickname{padding: 0 0 0.12rem 0.16rem; font-size: 0.12rem; color: #aaa; line-height: 0.12rem;}
.answer-item .nickname em{padding: 0 0.1rem 0 0; margin-right: 0.1rem; border-right: 1px solid #aaa;}
.answer-item .user{padding: 0 0.28rem 0 0.16rem; display: -webkit-flex; display: flex; line-height: 0.36rem; align-items: center; -webkit-align-items: center; justify-content: space-between; -webkit-justify-content: space-between; font-size: 0.12rem;}
.answer-item .photo{width: 0.36rem; height: 0.36rem; border-radius: 50%; overflow: hidden;}
.answer-item .hear{width: 1.97rem; height: 0.36rem; background: #F99653; border-radius: 0.2rem; color: #fff; font-size: 0.14rem; position: absolute; left: 0.72rem;}
.answer-item .hear:before{content: ""; width: 0.28rem; height: 0.22rem; display: block; background: url(img/audio_arr.png) no-repeat; background-size: cover; transform: translate3d(-0.10rem,0.14rem,0); transform: -webkit-translate3d(-0.10rem,0.14rem,0); position: absolute;}
.answer-item .iconfont{padding: 0 0.25rem 0 0.2rem; font-size: 0.16rem;}
.answer-item .num{color: #aaa;}
.answer-item .num i{color: #F38540;}

/* top */
.top-wrap{padding-top: 0.05rem;}
.top-item{margin: 0.04rem; padding: 0.12rem 0.16rem; background: #fff; border-radius: 2px; box-shadow: 0 1px 3px rgba(214,214,214,0.5);}
.top-item .photo{width: 0.6rem; height: 0.6rem; display: inline-block; border-radius: 50%; overflow: hidden;}
.top-item .nickname{padding-left: 0.15rem; display: inline-block; vertical-align: top;}
.top-item .nickname h1{padding: 0.04rem 0 0.06rem; font-size: 0.13rem; line-height: 0.15rem; font-weight: 700; color: #4A4A4A;}
.top-item .nickname h2{padding-bottom: 0.06rem; font-size: 0.12rem; line-height: 0.14rem; color: #aaa;}
.top-item .nickname p{font-size: 0.12rem; line-height: 0.14rem; color: #CCCCCC;}

/* question */
.question{margin: 0.04rem; padding-bottom: 0.2rem; overflow: auto; background: #fff; border-radius: 2px; box-shadow: 0 1px 3px rgba(214,214,214,0.5);}
.question .photo{width: 0.6rem; height: 0.6rem; display: block; margin: 0.2rem auto; border-radius: 50%; overflow: hidden;}
.question h1{padding-bottom: 0.04rem; text-align: center; line-height: 0.17rem; color: #4A4A4A; font-weight: 700;}
.question h2{padding-bottom: 0.23rem; text-align: center; font-size: 0.12rem; line-height: 0.14rem; color: #aaa;}
.question .cont{margin: 0 0.12rem; position: relative;}
.question .text{width: 100%; height: 0.8rem; padding: 0.12rem 0.16rem; vertical-align: top; box-sizing: border-box; -webkit-box-sizing: border-box; background: #F9F9F9; border: #F0F0F0 1px solid; font-size: 0.12rem; line-height: 0.14rem;}
.question .status{margin-top: 0.08rem; font-size: 0.12rem; color: #aaa;}
.question .iconfont{padding-right: 5px; font-size: 0.18rem; vertical-align: top; color: #D8D8D8;}
.question .price{width:100%; display: block; padding: 0.12rem 0 0.16rem; text-align: center; color: #F99653; font-size: 0.2rem; font-family: "Arial";}
.question .submit{width: 1rem; height: 0.4rem; background: #F99653; display: block; margin: auto; border-radius: 0.04rem; text-align: center; line-height: 0.4rem; color: #fff;}
.question .sum{color: #aaa; font-size: 0.12rem; position: absolute; right: 0.08rem; top: 0.55rem;}
.question .overt{color: #F99653;}
.question .red{color: red;}

/* audio */
.audio{margin: 0.04rem; padding: 0.18rem 0 0.18rem 0.18rem; background: #fff; border-radius: 2px; box-shadow: 0 1px 3px rgba(214,214,214,0.5);}
.audio .user{padding-right: 0.2rem; height: 0.36rem; color: #aaa; font-size: 0.12rem;}
.audio .photo{width: 0.36rem; height: 0.36rem; border-radius: 50%; overflow: hidden; display: inline-block;}
.audio .name{padding: 0.05rem 0 0 0.05rem; display: inline-block; vertical-align: top;}
.audio .price{float: right; font-size: 0.2rem; color: #F99653;}
.audio .title{margin: 0.1rem 0; font-size: 0.16rem; line-height: 0.24rem; font-weight: 700; color: #4A4A4A;}
.audio .status{padding-right: 0.24rem; display: -webkit-flex; display: flex; align-items: center; -webkit-align-items: center; justify-content: space-between; -webkit-justify-content: space-between; font-size: 0.12rem; color: #aaa; line-height: 0.24rem;}
.audio .refused{padding: 0 0.09rem; border: #aaa 1px solid;}
.sound{color: #aaa; font-size: 0.12rem; text-align: center;}
.sound .text{margin-bottom: 0.48rem; line-height: 0.37rem;}
.sound .status{ position: relative; display: -webkit-flex; display: flex; align-items: center; -webkit-align-items: center; justify-content: center; -webkit-justify-content: center;}
.sound .init, .sound .load, .sound .play, .sound .stop, .sound .load-text{width: 1rem; height: 1rem; margin: 0 0.3rem; border-radius: 50%; overflow: auto;}
.sound .init{background: #F38540 url(img/sound_start.png) no-repeat center center; background-size: 0.43rem;  }
.sound .load{background: url(img/sound_load.png) no-repeat center center; background-size: cover; -webkit-animation:load 1.5s linear infinite; animation:load 1.5s linear infinite;
}
.sound .load-text{margin: 0 0 0 -0.5rem; position: absolute; left: 50%; top: 0; font-size: 0.16rem; color: #F38540; line-height: 1rem;}
.sound .play, .sound .stop{background: #fff; box-shadow: 0 1px 3px rgba(214,214,214,0.5);}
.sound .iconfont{color: #F38540; font-size: 0.29rem; line-height: 1rem;}
.sound .stop:before{content: ""; width: 0.32rem; height: 0.32rem; background: #F38540; border-radius: 0.08rem; display: block; margin: 0.34rem auto 0;}
.sound .time{width: 0.6rem; text-align: right; color: #F38540; font-size: 0.18rem; font-family: "STHeitiSC-Light"; transform: translate3d(10px,0,0); transform: -webkit-translate3d(10px,0,0);}
.sound .reset{width: 0.6rem; height: 0.6rem; border-radius: 50%; background: #DADADA; color: #fff; font-size: 0.13rem; text-align: center; line-height: 0.6rem;}
.sound .reset.curr{background: #70E3C0;}
.sound .notes{padding: 0.15rem 0 0.3rem; font-size: 0.12rem;}
.sound .submit{width: 1rem; height: 0.36rem; display: block; margin: auto; border-radius: 2px; background: #DADADA; color: #fff; line-height: 0.36rem; font-size: 0.13rem;}
.sound .submit.curr{background: #F38540;}

/* details */
.details-item{padding: 0.13rem 0.16rem 0; margin: 0.04rem; background: #fff; border-radius: 2px; overflow: auto; box-shadow: 0 1px 3px rgba(214,214,214,0.5); color: #4A4A4A;}
.details-item .ask{margin-bottom: 0.14rem; line-height: 0.28rem;}
.details-item .ask em{padding-left: 0.12rem; color: #AAAAAA;}
.details-item .ask i{color: #F99653; float: right;}
.details-item .ask-photo{width: 0.28rem; height: 0.28rem; display: inline-block; border-radius: 50%; overflow: hidden; vertical-align: middle;}
.details-item .title{line-height: 0.2rem; font-size: 0.15rem; font-weight: 700;}
.details-item .user{padding: 0.31rem 0.28rem 0 0; display: -webkit-flex; display: flex; line-height: 0.36rem; align-items: center; -webkit-align-items: center; font-size: 0.12rem;}
.details-item .photo{width: 0.36rem; height: 0.36rem; border-radius: 50%; overflow: hidden; margin-right: 0.16rem;}
.details-item .hear{width: 1.97rem; height: 0.36rem; background: #F99653; border-radius: 0.2rem; color: #fff; font-size: 0.14rem;}
.details-item .hear:before{content: ""; width: 0.28rem; height: 0.22rem; display: block; background: url(img/audio_arr.png) no-repeat; background-size: cover; transform: translate3d(-0.10rem,0.14rem,0); transform: -webkit-translate3d(-0.10rem,0.14rem,0); position: absolute;}
.details-item .iconfont{padding: 0 0.25rem 0 0.2rem; font-size: 0.16rem;}
.details-item .time{padding-left: 0.13rem; color: #F99653; font-size: 0.18rem; font-family: "STHeitiSC-Light";}
.details-item .status{padding: 0.12rem 0 0.2rem; font-size: 0.12rem; color: #9B9B9B;}
.details-item .status em{padding-right: 0.1rem;}
.details-item .status i{float: right;}
.details-item .follows{padding: 0.08rem 0 0.12rem; border-top: #D9D9D9 1px solid; border-bottom: #D9D9D9 1px solid; position: relative;}
.details-item .follows span{display: block; color: #4A4A4A; font-size: 0.13rem; line-height: 0.19rem;}
.details-item .follows span i{padding-left: 0.07rem; font-size: 0.12rem;}
.details-item .follows p{color: #D9D9D9; font-size: 0.12rem; line-height: 0.13rem;}
.details-item .follows:after{content: ""; width: 0.13rem; height: 0.13rem; overflow: hidden; border-right: #D9D9D9 2px solid; border-top: #D9D9D9 2px solid; position: absolute; right: 0.15rem; top: 0.19rem; -webkit-transform: rotate(45deg); transform: rotate(45deg);}
.details-item .assist{width: 0.8rem; height: 0.4rem; margin: 0.24rem auto 0.18rem; display: block; border-radius: 4px; background: #F99653; font-size: 0.18rem; color: #fff; text-align: center; line-height: 0.4rem;}
.details-item .assist.is{background: #DADADA;}

/* recommend */
.recommend dt{padding: 0.12rem 0 0.08rem 0.38rem; line-height: 0.14rem; font-size: 0.12rem; color: #aaa;}
.recommend-item{padding: 0.2rem 0.16rem 0.08rem; margin: 0.04rem; background: #fff; border-radius: 2px; overflow: auto; box-shadow: 0 1px 3px rgba(214,214,214,0.5); color: #4A4A4A;}
.recommend-item .title{padding-bottom: 0.32rem; line-height: 0.2rem; font-size: 0.15rem; color: #4A4A4A; font-weight: 700;}
.recommend-item .info{padding: 0 0 0.03rem; font-size: 0.12rem; color: #4A4A4A;}
.recommend-item .tag{padding-left: 0.2rem; color: #aaa;}
.recommend-item .tag:before{content: "|"; padding-right: 0.1rem; color: #aaa;}
.recommend-item .status{font-size: 0.12rem; color: #aaa; display: -webkit-flex; display: flex; align-items: center; -webkit-align-items: center; justify-content: space-between; -webkit-justify-content: space-between;}

/* share */
.personal{background: #fff; border-radius: 2px; overflow: auto; box-shadow: 0 1px 3px rgba(214,214,214,0.5); color: #4A4A4A;}
.personal .head{overflow: auto; padding-bottom: 0.22rem; background: url(img/share_bg.png) no-repeat center 70%; background-size: cover; color: #fff; position: relative;}
.personal .photo{width: 0.86rem; height: 0.86rem; display: block; margin: 0.44rem auto 0.3rem; border-radius: 100%; overflow: hidden;}
.personal .name{text-align: center; font-size: 0.16rem;}
.personal .tag{text-align: center; font-size: 0.12rem; opacity: 0.62;}
.personal .follow{width: 0.86rem; height: 0.36rem; margin: 0.06rem auto 0; display: block; background: #fff; border-radius: 100px; text-align: center; line-height: 0.36rem; color: #F99653;}
.personal .info{padding: 0 0.52rem;}
.personal .about{padding: 0.12rem 0 0.18rem; font-size: 0.12rem; line-height: 0.16rem; color: #9B9B9B;}
.personal .about:before{content: ""; width: 2px; height: 0.11rem; float: left; display: block; background: #F99653; transform: translate3d(-7px,2px,0); transform: -webkit-translate3d(-7px,2px,0);}
.personal .cent-txt{padding: 0.28rem 0 0.18rem; font-size: 0.12rem; line-height: 0.16rem; color: #9B9B9B;}
.personal .cent-txt:before{content: ""; width: 2px; height: 0.11rem; float: left; display: block; background: #9B9B9B; transform: translate3d(-7px,2px,0); transform: -webkit-translate3d(-7px,2px,0);}
.personal .cent-profit{padding: 0.12rem 0 0.18rem; font-size: 0.12rem; line-height: 0.24rem; color: #F99653;}
.personal .cent-profit:before{content: ""; width: 2px; height: 0.11rem; float: left; display: block; background: #F99653; transform: translate3d(-7px,6px,0); transform: -webkit-translate3d(-7px,6px,0);}
.personal .quiz{width: 0.89rem; height: 0.36rem; display: block; margin: 0 auto 0.18rem; background: #F38540; border-radius: 1rem; text-align: center; color: #fff; line-height: 0.36rem;}
.personal .edit{width: 0.3rem; height: 0.3rem; display: block; background: url(img/bj-icon.png) no-repeat center center; background-size: 0.15rem; position: absolute; right: 0.15rem; top: 0.15rem;}
.personal .open{width: 1.15rem; height: 0.4rem; display: block; margin: 0.1rem auto 0; background: #F99653; border-radius: 4px; color: #fff; line-height: 0.4rem; text-align: center;}
.personal-dl dt{padding: 0.12rem 0 0.08rem 0.2rem; line-height: 0.14rem; font-size: 0.12rem; color: #aaa;}
.personal-dl a{color: #4A4A4A;}

.personal-nav{margin: 0.08rem 0.04rem 0.04rem; background: #fff; border-radius: 2px; overflow: auto; box-shadow: 0 1px 3px rgba(214,214,214,0.5); color: #4A4A4A;}
.personal-nav li{padding: 0 0 0 0.27rem; font-size: 0.12rem; line-height: 0.45rem;}
.personal-nav li a{color: #9B9B9B; display: block; border-bottom: #F0F0F0 1px solid;}
.personal-nav li a:after{content: ""; width: 0.06rem; height: 0.06rem; margin: 0.2rem 0.14rem 0 0; display: block; float: right; border-top: #AAAAAA 1px solid; border-right: #AAAAAA 1px solid; transform: rotate(45deg);}

/* 我答 */
.my-answers .nav{height: 0.37rem; margin-bottom: 8px; background: #fff; display: -webkit-flex; display: flex; justify-content: space-around; -webkit-justify-content: space-around; box-shadow: 0 1px 3px rgba(214,214,214,0.5); color: #4A4A4A; line-height: 0.37rem;}
.my-answers .nav a{color: #AAAAAA;}
.my-answers .nav a.curr{color: #F38540; border-bottom: #F38540 2px solid;}
.my-answers .item{padding: 0.18rem 0.16rem 0.2rem; margin: 4px; background: #fff; box-shadow: 0 1px 3px rgba(214,214,214,0.5);}
.my-answers .user{line-height: 0.36rem; color: #AAAAAA; font-size: 0.13rem;}
.my-answers .photo{width: 0.36rem; height: 0.36rem; margin-right: 0.1rem; float: left; overflow: hidden; border-radius: 50%;}
.my-answers .status{float: right;}
.my-answers .price{padding-right: 0.35rem; float: right; font-size: 0.14rem; color: #F99653;}
.my-answers .col{color: #F99653;}
.my-answers .title{padding: 0.17rem 0 0.3rem; line-height: 0.24rem; color: #4A4A4A;}
.my-answers .info{font-size: 0.12rem; color: #AAAAAA; line-height: 0.16rem;}
.my-answers .info i{padding: 0 0.08rem; color: #F99653;}
.my-answers .time{float: right;}

/*=个人主页*/
.leon-head{overflow:hidden;position:relative;text-align:center;box-sizing:border-box;padding:.44rem 0 0 0;height:2.25rem; background: url(img/share_bg.png) no-repeat center top; background-size: cover;}
.leon-head img{width:.86rem;height:.86rem;border:1px solid #fff;border-radius:.44rem;box-shadow:0 0 10px #000;}
.leon-head b{display:block;margin-top:.27rem;line-height:.22rem;color:#fdfefe;font-size:.14rem;}
.leon-head span{display:block;color:#fff;line-height:.22rem;}
.leon-head .edit{display:block;width:.43rem;height:.43rem;position:absolute;right:.1rem;top:.1rem;text-indent:-999em;background:url(img/bj-icon.png) no-repeat center center;background-size:.15rem .15rem;}
.leon-cont{overflow:hidden;margin-bottom:.1rem;padding:.13rem 0;background:#fff;box-shadow:0 0 5px #eee;}
.leon-cont p{overflow:hidden;padding:.13rem .49rem;text-align:justify;color:#aaa;font-size:.14rem;position:relative;line-height:.2rem;}
.leon-cont p::after{content:"";width:.02rem;height:.11rem;position:absolute;background:#aaa;left:.42rem;top:.17rem;}
.leon-cont p.curr{color:#f99653;}
.leon-cont p.curr::after{background:#f99653;}
.leon-list{overflow:hidden;margin:0 .04rem .1rem .04rem;background:#fff;border-radius:.03rem;box-shadow:0 0 5px #eee;}
.leon-list li{overflow:hidden;height:.48rem;padding:0 0 0 .24rem;}
.leon-list li a{display:block;position:relative;line-height:.47rem;color:#9f9f9f;font-size:.16rem;padding-left:.21rem;}
.leon-list li a::after{content:"";width:.07rem;height:.11rem;background:url(img/li-icon.png) no-repeat;background-size:100%;position:absolute;right:.13rem;top:.2rem;}
.leon-list li+li a{border-top:1px solid #f4f4f4;}
.leon-list li a::before{content:"";width:.17rem;position:absolute;height:.17rem;background:url(img/icon_bg.png) no-repeat;background-size:100%;left:0;top:.16rem;}
.leon-list li.l2 a::before{background-position:0 -.17rem;}
.leon-list li.l3 a::before{background-position:0 -.34rem;}
.leon-list li.l4 a::before{background-position:0 -.51rem;}
.leon-list li.l5 a::before{background-position:0 -.68rem;}

/*=信息编辑*/
.leon-edit h1{overflow:hidden;height:2.22rem;box-sizing:border-box;padding:.6rem 0 0 0;text-align:center;}
.leon-edit h1 img{width:.86rem;height:.86rem;border-radius:.43rem;}
.leon-edit h1 b{display:block;height:.6rem;line-height:.6rem;color:#505050;font-size:.16rem;}
.leon-edit .cont{overflow:hidden;padding:0 .16rem;margin:.04rem;background:#fff;box-shadow:0 0 5px #eee;border-radius:.03rem;}
.leon-edit .cont h2{padding:.05rem 0 0 0;height:.3rem;line-height:.3rem;font-size:.14rem;color:#9e9e9e;}
.leon-edit .cont textarea{height:.57rem;width:100%;box-sizing:border-box;border:1px solid #aaa;background:#f6f6f6;padding:.03rem .1rem;border-radius:.05rem;font-size:.14rem;color:#9e9e9e;margin-bottom:.2rem;}
.leon-edit .cont textarea.big{height:.95rem;}
.leon-edit .cont p{padding:0 .1rem;margin-top:-.1rem;line-height:.2rem;font-size:.14rem;color:#9b9b9b;}
.leon-edit .cont p input{width: 0.35rem; padding:0 .1rem;border-bottom:1px solid #f38540;color:#f38540; text-align: center;}
.leon-edit .cont a{display:block;width:1.15rem;height:.4rem;line-height:.4rem;margin:.42rem auto;background:#f99653;color:#fff;border-radius:.05rem;text-align:center;}

.pop{width:1.84rem;height:1.2rem;overflow:hidden;line-height:1.2rem;position:fixed;left:50%;top:50%;background:#fff;text-align:center;border-radius:.1rem;box-shadow:0 0 50px #ccc;font-size:.18rem;color:#9b9b9b;margin:-.6rem 0 0 -.92rem;}

/*=我问 我答*/
.leon-answer h1,.leon-hear h1{padding: 0.05rem 0 0.05rem .2rem;line-height:.25rem;height:.25rem;font-size:.14rem;color:#c0c0c0;}
.leon-answer h1 i,.leon-hear h1 i{padding:0 .05rem;}
.leon-answer .hd{overflow:hidden;height:.4rem;padding-top:.2rem;background:#fff;margin-bottom:.1rem;line-height:.4rem;box-shadow:0 0 5px #eee;}
.leon-answer .hd li{width:50%;float:left;text-align:center;font-size:.16rem;color:#c3c3c3;}
.leon-answer .hd li i{display:inline-block;height:.4rem;}
.leon-answer .hd li.curr i{border-bottom:2px solid #f99653;box-sizing:border-box;color:#f99653;}
.leon-answer .bd,.leon-hear .bd{overflow:hidden;}
.leon-answer .bd li,.leon-hear .bd li{background:#fff;margin:0 .04rem .04rem .04rem;border-radius:.05rem;box-shadow:0 0 5px #eee;position:relative;padding:.18rem .16rem;}
.leon-answer .bd li h2{height:.36rem;line-height:.36rem;color:#aaa;font-size:.14rem;}
.leon-answer .bd li h2 img{width:.36rem;height:.36rem;margin-right:.1rem;border-radius:.18rem;}
.leon-answer .bd li h2 span{float:right;color:#f99653;}
.leon-answer .bd li h2 span i.i1{padding-left:.37rem;color:#f99653;}
.leon-answer .bd li h2 span i.i2{padding-left:.37rem;color:#c5c5c5;}
.leon-answer .bd li p{text-align:justify;padding:.15rem 0 .25rem 0;font-size:.16rem;color:#4e4e4e;line-height:.24rem;}
.leon-answer .bd li font{color:#ababab;display:block;height:.27rem;font-size:.12rem;line-height:.27rem;}
.leon-answer .bd li font span{float:right;color:#aaa;}
.leon-answer .bd li font i{padding:0 .16rem 0 .05rem;color:#f99653;}

/*=我听*/
.leon-hear .bd li p{font-size:.16rem;text-align:justify;color:#4e4e4e;line-height:.24rem;margin-bottom:.25rem;}
.leon-hear .bd li p b{color:#f48e4f;}
.leon-hear .bd li h2{height:.36rem;position:relative;overflow:hidden;}
.leon-hear .bd li h2 img{width:.36rem;height:.36rem;margin-right:.1rem;float:left;border-radius:.18rem;}
.leon-hear .bd li h2 b{display:block;line-height:.15rem;font-size:.14rem;color:#4a4a4a;}
.leon-hear .bd li h2 font{display:block;color:#b5b5b5;font-size:.12rem;}
.leon-hear .bd li h2 span{position:absolute;right:0;line-height:.36rem;font-size:.12rem;color:#aaa;}


/* font */
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1467269318_8435817.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1467269318_8435817.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1467269318_8435817.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1467269318_8435817.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1467269318_8435817.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                                        
                    
.iconfont{font-family: "iconfont"; font-style: normal; font-size: 0.12rem; font-weight: 400; vertical-align: middle;}

/* media */
@media screen and (min-width: 640px){
	.wrap{width: 7.5rem;}
}

@-webkit-keyframes load{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@keyframes load{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}