@charset 'utf-8';
html{font-size: 100px; font-family: "PingFangSC-Regular", Verdana, Arial, Helvetica, Helvetica Neue, sans-serif; background: url(img/bg@2x.png) no-repeat center bottom; background-size: cover;}
body{padding: 0; margin: 0;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,pre,form,fieldset,input,textarea,blockquote,p,button,header,footer,nav,section,article,aside,video,audio,figure,figcaption,hgroup,button{padding: 0px; margin: 0px; tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -ms-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 0.14rem;}
table,td,tr,th{font-size: 0.12rem;}
table{margin: 0 auto;}
ol,ul{list-style: none;}
li{list-style-type: none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
img{width: 100%; height:auto; vertical-align: top; border: 0;}
address,caption,cite,code,dfn,em,i,b{font-weight: normal; font-style: normal;}
input,textarea,select,button{outline: none; resize: none; border: 0;}
a{-webkit-appearance: none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; text-decoration: none;}
a:hover {text-decoration:none;}
.f12{font-size: 0.12rem;}.f14{font-size: 0.14rem;}.f16{font-size: 0.16rem;}.f18{font-size: 0.18rem;}
.tl{text-align: left;}.tr{text-align: right;}.tc{text-align: center;}
.fl{float: left;}.fr{float: right;}
.pos-r{position: relative;}.pos-f{position: fixed;}

/* Index Style */
.header{width: 100%; height: 3.93rem; overflow: auto; background: url(img/BG2.jpg) no-repeat left top; background-size: cover; position: relative;}
.header .logo{width: 2.9rem; height: 1.58rem; margin: 0.55rem auto 0;}
.header .passport{width: 0.9rem; height: 0.3rem; line-height: 0.3rem; position: absolute; right: 0; top: 0;}
.header .time{width: 2.2rem; margin: auto; padding: 0.16rem 0 0.45rem; font-size: 0.18rem; color: #fff; line-height: 0.28rem;}
.header .title{width: 2.9rem; margin: auto;}
.section{width: 100%; overflow: auto; background: url(img/BG1.jpg) no-repeat left top; background-size: cover;}
.section .con{padding: 0 0 0.2rem 0.21rem;}
.section .con dt{font-size: 0.2rem; color: #FF001F; line-height: 0.28rem;}
.section .con dt em{padding-left: 0.06rem; vertical-align: top; line-height: 0.28rem; font-size: 0.12rem; color: #757575;}
.section .con dd{color: #fff; font-size: 0.14rem; line-height: 0.2rem;}
.section .con dd.small{font-size: 0.12rem; color: #757575; line-height: 0.17rem;}
.section .invited{padding: 0.3rem 0 0 0.21rem; font-size: 0.14rem; color: #fff; line-height: 0.2rem;}
.section .invited em{color: #FF001F;}
.section .about{padding: 0.23rem 0.2rem 0 0.21rem; color: #BDBDBD; text-align: justify;}
.section .btn{width: 1.6rem; height: 0.5rem; padding: 0.05rem 0 0; display: block; box-sizing: border-box; margin: 0.36rem auto; background: rgba(255,0,0,0.56); border-radius: 0.04rem; text-align: center; line-height: 0.24rem; color: #fff; font-size: 0.2rem;}
.section .btn span{font-size: 0.12rem; display: block; text-align: center; line-height: 0.16rem;}

/* Register Style */
.register{}
.register .h1{padding-top: 0.3rem; font-size: 0.17rem; color: #212121; line-height: 0.2rem; text-align: center; font-family: "PingFangSC-Medium";}
.register .h2{margin-bottom: 0.2rem; text-align: center; font-size: 0.32rem; line-height: 0.45rem; font-family: "PingFangSC-Medium";}
.register .h2 em{font-size: 0.26rem;}
.register .personal li, .team dd{margin-bottom: 0.1rem; overflow: auto;}
.register .personal{margin-top: 0.37rem; padding: 0.28rem 0; border-top: #F4F4F4 10px solid;}
.team{padding-bottom: 0.14rem; border-top: #F4F4F4 10px solid;}
.team dt{padding: 0.1rem 0 0 0.1rem; font-size: 0.13rem; line-height: 0.18rem; color: #BDBDBD;}
.team-note{padding: 0.1rem 0 0.05rem; font-size: 0.12rem; line-height: 0.17rem; color: #757575; text-align: center;}
.register .ipt{width: 2.3rem; height: 0.4rem; padding: 0 0.15rem; background: #F5F8F9; font-size: 0.13rem; border-radius: 0.04rem; line-height: 0.4rem;}
.register .ipt.w100{width: 0.68rem;}
.register .ipt.w203{width: 1.74rem;}
.register .ipt.w208{width: 1.74rem; margin-left: 0.04rem;}
.register .ipt::-webkit-input-placeholder{color: #889399;}
.register .attr, .register .photo{padding-right: 0.1rem; float: left; font-size: 0.17rem; color: #212121;}
.register .attr em, .register .photo em{width: 10px; height: 0.4rem; float: left; margin-left: 0.28rem; text-align: center; color: #F8800A; font-size: 14px;}
.register .attr em.height{margin-left: 0.1rem;}
.register .attr{line-height: 0.4rem;}
.register .photo{line-height: 0.6rem;}
.register .photo-result{width: 0.6rem; height: 0.6rem; border-radius: 50%; background: #F5F8F9; float: left; text-align: center;}
.register .photo-result em{padding-top: 0.14rem; display: block; line-height: 0.16rem; color: #889399;}
.register .photo-result img{width: 0.6rem; height: 0.6rem; border-radius: 50%;}
.register .sex{float: left; line-height: 0.4rem; font-size: 0.13rem;}
.register .male, .register .female{float: left;}
.register .male{padding-left: 0.57rem; margin-right: 0.3rem; background: url(img/male_n@2x.png) no-repeat left center; background-size: 0.41rem; color: #889399;}
.register .male.curr{background: url(img/male_s@2x.png) no-repeat left center; background-size: 0.41rem;}
.register .female{padding-left: 0.57rem; background: url(img/female_n@2x.png) no-repeat left center; background-size: 0.4rem; color: #889399;}
.register .female.curr{background: url(img/female_s@2x.png) no-repeat left center; background-size: 0.4rem;}
.register .submit{width: 1.56rem; height: 0.4rem; margin: 0 auto; border-radius: 0.04rem; display: block; background: #F8800A; line-height: 0.4rem; text-align: center; color: #fff; font-size: 0.2rem;}
.register .type{overflow: auto;}
.register .type .title{padding: 0 0.38rem; font-size: 0.17rem; line-height: 0.24rem; color: #212121;}
.register .type .title em{padding-left: 0.06rem; font-size: 0.13rem; color: #889399;}
.register .type-list{width: 100%; padding: 0.15rem 0.33rem 0; box-sizing: border-box; overflow: auto;}
.register .type-list li{width: 33.3%; float: left; padding: 0 0.05rem; box-sizing: border-box;}
.register .type-list li:last-child{margin-right: 0;}
.register .type-list li a{height: 0.5rem; padding-top: 0.07rem; box-sizing: border-box; display: block; white-space: nowrap; background: #f8f8f8; border: 1px solid #BDBDBD; border-radius: 0.04rem; font-size: 0.13rem; line-height: 0.18rem; text-align: center; color: #757575;}
.register .type-list li.no a{height: 0.5rem; padding-top: 0.07rem; box-sizing: border-box; display: block; white-space: nowrap; background: #BDBDBD; border: 1px solid #BDBDBD; border-radius: 0.04rem; font-size: 0.13rem; line-height: 0.18rem; text-align: center; color: #757575;}
.register .type-list li.curr a{height: 0.5rem; padding-top: 0.07rem; box-sizing: border-box; display: block; white-space: nowrap; background: #F8800A; border: 1px solid #F8800A; border-radius: 0.04rem; font-size: 0.13rem; line-height: 0.18rem; text-align: center; color: #fff;}
.register .price{padding: 0.24rem 0; border-top: #F4F4F4 10px solid; display: block; text-align: center; line-height: 0.47rem; font-size: 0.34rem; color: #F8800A;}
.register .price i{padding-right: 3px; font-size: 0.18rem; line-height: 0.33rem; }
.register .status{height: 3.5rem;}
.register .status .text{padding: 0.8rem 0 1.2rem; text-align: center; color: #BDBDBD; font-size: 0.2rem; line-height: 0.24rem;}
.register .status .text span{display: block; font-size: 0.14rem; line-height: 0.2rem;}
.register .status .btn{width: 1.9rem; height: 0.58rem; padding: 0.08rem 0 ; box-sizing: border-box; margin: auto; display: block; border-radius: 0.04rem; background: #F8800A; line-height: 0.24rem; color: #fff; text-align: center; font-size: 0.2rem;}
.register .status .btn em{display: block; font-size: 9px; font-family: Arial; line-height: 0.14rem; white-space: nowrap;}
.copy{width: 100%; padding: 0.35rem 0 0; font-size: 0.12rem; line-height: 0.17rem; color: #BDBDBD; text-align: center;}

/* Succeed Style */
.succeed{}

.mask{width: 100%; height: 100%; position: fixed; left: 0; top: 0; display: -webkit-box; display: box; box-pack: center; -webkit-box-pack:center; box-align: center; -webkit-box-align: center; z-index: 99;}
.tost{display: block; background: rgba(38,38,43,0.9); border-radius: 0.04rem; line-height: 0.4rem; font-size: 0.12rem; color: #fff; padding: 0 0.3rem;  animation-name: fieldTipBounceIn; -webkit-animation-name: fieldTipBounceIn; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: .18s; animation-duration: .18s;}


/* Invalid Style */
.field-invalid { border-color: #a94442; }
.field-invalidmsg { color: #a94442; }
.field-validmsg { color: #3c763d; }
.field-tooltipWrap { position: absolute; left: 0; top: 0; width: 100%; z-index: 19891014; }
.field-tooltipInner { pointer-events: none; display: table; position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
.field-tooltip { display: table-cell; vertical-align: middle; text-align: center; }
.field-tooltip .field-invalidmsg, .field-tooltip .field-validmsg { color: #fff; }
.field-tooltip .zvalid-resultformat { display: inline-block; position: relative; background-color: rgba(0, 0, 0, 0.8); color: #fff; padding: 10px 15px; font-size: 14px; border-radius: 6px; box-shadow: 0 0 8px rgba(0, 0, 0, .1); pointer-events: auto; animation-name: fieldTipBounceIn; -webkit-animation-name: fieldTipBounceIn; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: .18s; animation-duration: .18s; }
@-webkit-keyframes fieldTipBounceIn {
    0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}
@keyframes {
    0% { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
    100% { opacity: 1; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }
}

/* Media Style */
@media screen and (min-width: 320px){
	html{font-size: 85.7px;}
}
@media screen and (min-width: 360px){
	html{font-size: 96px;}
}
@media screen and (min-width: 375px){
	html{font-size: 100px;}
}
@media screen and (min-width: 380px){
	html{font-size: 101.33px;}
}
@media screen and (min-width: 400px){
	html{font-size: 106.66px;}
}
@media screen and (min-width: 414px){
	html{font-size: 110.15px;}
}
@media screen and (min-width: 420px){
	html{font-size: 112px;}
}
@media screen and (min-width: 440px){
	html{font-size: 117.33px;}
}
@media screen and (min-width: 460px){
	html{font-size: 122.66px;}
}


